.stage1-wrapper {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1;
    background-color: #2B0906;
}

.corner-elements {
    position: absolute;
    width: 100%;
}

.corner-element {
    position: absolute;
}

.corner-element p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #D82E11;
}

.stage1-img-container .stage1-img {
    will-change: transform
}

.stage1-text-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #D82E11;
    z-index: 2;
    margin-top: 5%;
}

.stage1-text-overlay .stage1-text-overlay-wrapper {
    height: 80px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.stage1-text-overlay .stage1-text-overlay-h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 4.5rem;
}

.header-wrapper {
    position: sticky;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 92%;
    margin-left: 4%;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8%;
}

.header-h1-wrapper {
    height: 170px;
    overflow: hidden;
}

.header-h1-wrapper .header-h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 13rem;
    line-height: 10rem;
    font-weight: 600;
    color: #D82E11;
    margin: 0;
}

.header-h3-wrapper {
    width: 35%;
}

.header-h3-wrapper .header-h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -0.04rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #D82E11;
    margin: 0;
    text-wrap: balance;
}

/*----------------------------------------------*/

.section-2 {
    position: relative;
    width: 100vw;
    background-color: #D82E11;
    overflow: hidden;
    padding: 3% 0 25% 0;
    z-index: 5;
}

.section-2-bg-container {
    position: absolute;
    width: 100%;
    height: 140%;
    z-index: 1;
    filter: brightness(0.5);
}

.section-2-bg {
    width: 100%;
}

.section-2-content {
    position: relative;
    z-index: 99;
    margin-left: 3%;
    width: 40%;
}

.section-2-content p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.01rem;
    line-height: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #D82E11;
    text-wrap: balance;
    pointer-events: none;
}

/*----------------------------------------------*/

.section-3 {
    position: relative;
    background-color: #2B0906;
    overflow: hidden;
    padding: 15% 5% 4% 5%;
    z-index: 10;
}

.section-3-revealer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2B0906;
    top: 0;
    left: 0;
    z-index: 10;
}

.section-3-content {
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.section-3-content p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.04rem;
    line-height: 2rem;
    font-weight: 500;
    color: #D82E11;
    text-wrap: balance;
    text-transform: uppercase;
}

.section-3 .img-container {
    position: relative;
}

.section-3 .img-container img {
    height: 500px;
}

.section-3 .img-container .img-1 {
    height: 500px;
    z-index: 1;
}
.section-3 .img-container .img-2 {
    right: -100px;
    top: -600px;
    position: absolute;
    height: 360px;
    z-index: 2;
}
.section-3 .img-container .img-3 {
    right: 40px;
    bottom: -100px;
    position: absolute;
    height: 300px;
    z-index: 3;
}

.section-3-content p {
    margin-top: 400px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.04rem;
    line-height: 2rem;
    font-weight: 500;
    color: #D82E11;
    text-wrap: balance;
    text-transform: uppercase;
    margin-left: -150px;
}

/*----------------------------------------------*/

.section-4 {
    position: relative;
    width: 100vw;
    background-color: #D82E11;
    overflow: hidden;
    padding: 3% 0 30% 0;
}

.section-4-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
    filter: brightness(0.5);
}

.section-4-content {
    position: relative;
    z-index: 5;
    margin-left: 3%;
    width: 40%;
}

.section-4-content p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.04rem;
    line-height: 2rem;
    font-weight: 500;
    color: #D82E11;
    text-wrap: balance;
    text-transform: uppercase;
}


.section-5 {
    position: relative;
    padding: 8% 8% 0 8%;
    background: #2B0906;
}

.section-5 .content-img-container {
    overflow: hidden;
    position: relative;
    height: 800px;
}

.section-5-map-img {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    filter: brightness(1) contrast(2);
    transform-origin: center center;
    z-index: 1;
}

.section-5 .img-container-fade {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.section-5 .img-container-fade .img-gradient-left,
.section-5 .img-container-fade .img-gradient-right,
.section-5 .img-container-fade .img-gradient-top,
.section-5 .img-container-fade .img-gradient-bottom {
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.section-5 .img-container-fade .img-gradient-left {
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: linear-gradient(to right, #2B0906 0%, rgba(43,9,6,0) 100%);
}

.section-5 .img-container-fade .img-gradient-right {
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    background: linear-gradient(to left, #2B0906 0%, rgba(43,9,6,0) 100%);
}

.section-5 .img-container-fade .img-gradient-top {
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #2B0906 0%, rgba(43,9,6,0) 100%);
}

.section-5 .img-container-fade .img-gradient-bottom {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 450px;
    background: linear-gradient(to top, #2B0906 0%, rgba(43,9,6,0) 100%);
}

.section-5 .content-text {
    position: absolute;
    z-index: 5;
    bottom: -10%;
    width: 60%;
    left: 20%;
}

.section-5 .content-text p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.04rem;
    line-height: 2rem;
    font-weight: 500;
    color: #D82E11;
    text-wrap: balance;
    text-transform: uppercase;
}


.last-section {
    position: relative;
    background-color: #2B0906;
    overflow: hidden;
    padding: 8%;
}

.last-section .team-img-wrapper {
    overflow: hidden;
}

.last-section .team-img-container {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    transform: scale(1.1);
    transform-origin: center;
}

.last-section .team-img-container img {
    width: 100%;
    object-fit: cover;
    transition: 1s cubic-bezier(0.32, 0.26, 0, 1);
}

.last-section .team-img-container:hover img {
    transform: scale(1.1);
}

/*.team-img-container img {
    width: 70%;
}*/

.team-distortion-img {
    position: relative;
    width: 100%;
    filter: brightness(0.8);
}

.last-section .floating-red-border-wrapper {
    position: absolute;
    z-index: 10;
    height: 75%;
    width: 85%;
    top: 18%;
    left: 10%;
    pointer-events: none;
}

.last-section .floating-red-border {
    height: 100%;
    width: 100%;
    border: solid 5px #D82E11;
}

.last-section .team-text-wrapper {
    position: absolute;
    z-index: 15;
    top: 10%;
}

.last-section .team-text-wrapper h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 7rem;
    letter-spacing: -0.04rem;
    line-height: 1rem;
    font-weight: 800;
    color: #D82E11;
    text-wrap: balance;
    text-transform: uppercase;
}

.team-individuals-wrapper {
    position: relative;
    padding: 2% 0 5% 0;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.team-individuals-wrapper .individuals {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.team-individuals-wrapper .individual-name {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.8rem;
    letter-spacing: -0.04rem;
    line-height: 2rem;
    font-weight: 600;
    color: #D82E11;
    text-wrap: balance;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
    transition: 
        color 0.25s cubic-bezier(.4,0,.2,1),
        background 0.25s cubic-bezier(.4,0,.2,1),
        transform 0.25s cubic-bezier(.4,0,.2,1);
    padding: 0.2em 0.7em;
    display: inline-block;
}

.team-individuals-wrapper .individual-name:hover,
.team-individuals-wrapper .individual-name.active {
    background: #D82E11;
    color: #FFF8F2;
    transform: scale(1.05);
}

.individuals-profiles {
    min-height: 500px;
}

.individuals-profiles .profiles-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.individuals-profiles .profiles-card img {
    height: 500px;
    margin-bottom: 20px;
}

.individuals-profiles .profiles-card h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    letter-spacing: -0.04rem;
    line-height: 2rem;
    font-weight: 600;
    color: #D82E11;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.individuals-profiles .profiles-card a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    color: #FFF8F2;
}