.stage1-wrapper {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1;
    background-color: #2B0906;
}

.corner-elements {
    position: absolute;
    width: 100%;
}

.corner-element {
    position: absolute;
}

.corner-element p {
    font-family: 'IBMPlexSans', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #D82E11;
}

.stage1-img-container .stage1-img {
    will-change: transform
}

.stage1-text-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #D82E11;
    z-index: 2;
    margin-top: 5%;
}

.stage1-text-overlay .stage1-text-overlay-wrapper {
    height: 80px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.stage1-text-overlay .stage1-text-overlay-h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 90%;
    margin-left: 5%;
    line-height: 4.5rem;
}

.header-wrapper {
    position: sticky;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 70%;
    margin-left: 4%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 8%;
}

.header-h1-wrapper {
    height: 170px;
    overflow: hidden;
}

.header-h1-wrapper .header-h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 13rem;
    line-height: 10rem;
    font-weight: 600;
    color: #D82E11;
    margin: 0;
}

.header-h3-wrapper {
    width: 50%;
}

.header-h3-wrapper .header-h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.2rem;
    line-height: 2.5rem;
    letter-spacing: -0.04rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #D82E11;
    margin: 0;
    text-wrap: balance;
}

/*----------------------------------------------*/

.section-2 {
    position: relative;
    width: 100vw;
    background-color: #2B0906;
    overflow: hidden;
    padding: 3% 0 25% 0;
    z-index: 5;
}

/*----------------------------------------------*/